@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Noto Sans Japanese';
}
h1, h2, h3 {
  font-family: 'Noto Sans JP';
  font-weight: normal;
}
.remark-slide-content {
  font-size: 24px;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.inverse {
  background: #000000;
  color: #aaaaaa;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 1.0em;
}
.logo img {
  width: 20%;
}
.half img {
  width: 45%;
}
img {
  width: 100%;
}
.red-text {
  color: #ff0000;
}
.blue-text {
  color: #0000cc;
}
.small-text {
  font-size: 14px;
}
table {
  border: 2px #000000 solid;
  width: 500px;
}
td, th {
  border: 2px #000000 solid;
  text-align: center;
}
